<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./ContactUs.css" />
  </head>
  <body>
    <div class="container">
      <h1>Contact Us</h1>
      <div class="formGroup">
        <div class="formElement">
          <label for="input1">Input 1 : </label>
          <input type="text" name="input1" id="input1" />
        </div>

        <div class="formElement">
          <label for="input2">Input 2 : </label>
          <input type="text" name="input2" id="input1" />
        </div>

        <div class="formElement">
          <button class="submitButton">Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
